{% extends 'base.html.twig' %}

{% form_theme carForm 'bootstrap_4_layout.html.twig' %}
{% block body %}

    <h1>Add a  car in order to publish it on our website</h1>
    {{ form_start(carForm) }}
    {{ form_row(carForm.modele, {'attr': {'placeholder':"BMW"}}) }}
    {{ form_row(carForm.photo, {'attr': {'placeholder':"URL"}}) }}
    {{ form_row(carForm.caracteristiques, {'attr': {'placeholder':"brief description on engine, speed..."}}) }}
    {{ form_row(carForm.etatLocation) }}
    {{ form_row(carForm.nbVoitures, {'attr':{'placeholder':"1"}}) }}
    {{ form_row(carForm.price, {'attr':{'placeholder':"pay per day"}}) }}

    <br>
    <button type="submit" class="btn btn-dark">
        {%  if carEdit %}
            Save
        {% else %}
            Add Car
        {% endif %}
    </button>
    {{ form_end(carForm) }}

{% endblock body %}