{% extends 'base.html.twig' %}

{% form_theme signInUser 'bootstrap_4_layout.html.twig' %}
{% block body %}

    <h1>Sign in</h1>

    {{ form_start(signInUser) }}

    {{ form_row(signInUser.nom, {'attr': {'placeholder':"Eren Jäger"}, 'label':'name'}) }}
    {{ form_row(signInUser.email, {'attr': {'placeholder':"xyz@gmail.com", }}) }}
    {{ form_row(signInUser.nomEntreprise, {'attr': {'placeholder':"Ubisoft"}, 'label':'Company name'}) }}
    {{ form_row(signInUser.adresseEntreprise,{'attr': {'placeholder':"Bleecker Street"}, 'label':'Company adress'}) }}
    {{ form_row(signInUser.motDePasse, {'attr':{'placeholder':"password"}, 'label':'Password'}) }}
    {{ form_row(signInUser.confirmPassword, {'attr':{'placeholder':"confirm password"}}) }}
    {{ form_row(signInUser.role) }}

    <br>
    <button type="submit" class="btn btn-dark">Sign in</button>
    {{ form_end(signInUser) }}

{% endblock %}